* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.input-container {
    margin-bottom: 10px;
}

.text, .btn {
    padding: 4px 8px;

}


.item {
    border: 2px solid green;
    display: flex;
    justify-content: space-between; /* Added to space items evenly */
    width: 250px;
    padding: 2px 4px;
    margin-bottom: 10px;
  }
  
.btns {
    display: flex;
}


.item-text {
    display: flex;
    align-items: start;
}

.del,.doneBtn {
    display: flex;
    align-items: end;
    margin-left: 2px;
}


/* .done {
    width: 300px;
    text-align: center;
    height: 200px;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
} */

.container,.done  {
    display: flex;
    align-items: center;
    padding: 20px;
    justify-content: center;
    flex-direction: column;
    width: 300px;
    border: 2px solid black;
    margin-bottom: 20px;
}